<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profitplus">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ReferAndEarnActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TermsAndConditionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FaqsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OnBoardActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>