<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profitplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.LoginOtpActivity"></activity>
        <activity android:name=".view.activity.OtpActivity" />
        <activity
            android:name=".view.activity.ReferAndEarnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TermsAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FaqsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OnBoardActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>